<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instructor Dashboard</title>
</head>

<body>
    <h1>Instructor Dashboard</h1>
    <a href="/logout">Logout</a>

    <hr>

    <!-- TODO: Display Courses Taught by Instructor -->
    <!-- Link to Course Details page (/instructor/course/:id) -->
    <h2>My Courses</h2>

</body>

</html>